@using Microsoft.AspNetCore.Mvc.ModelBinding

@model Login

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <div class="container-xxl bg-white p-0">
        <!-- Appointment Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <h1 class="mb-4">@ViewBag.LoginTitle Login</h1>
                                <form method="post">
                                    <div class="row g-3">
                                        <div class="col-sm-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="UserName" name="UserName" asp-for="UserName" required placeholder="User Name">
                                                <label for="UserName">User Name</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="Password" name="Password" asp-for="Password" required>
                                                <label for="Password">Password</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="~/img/appointment.jpg" style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment End -->
    </div>
       @*  <div>
        <h2>College Management System</h2>
        <form method="post">
            <div>
                <h3>
                    @if (@ViewBag.Error is not null)
                    {
                        @ViewBag.Error
                    }
                </h3>

                <div asp-validation-summary="All" class="text-danger"></div>

                <label for="UserName">UserName:</label>
                <input type="text" id="UserName" name="UserName" asp-for="UserName" required />

                <span asp-validation-for="UserName" class="text-danger"></span>

            </div>
            <div>
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="Password" asp-for="Password" required />

                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <div class="row form-check mb-2">

                <input type="checkbox" asp-for="RememberMe" class=" form-check-input" />
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>

        </form>
    </div> *@
</body>
</html>
